---
layout: single
author_profile: true
title: Home
tagline: Finn Rietz.dev
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/header2.jpg
---

<h1>About me</h1>
Hey, I am Finn. Currently, I am looking for Ph.D. positions in Deep (Reinforcement) Learning and am working towards completing my Master's 
Degree in Computer Science at the University of Hamburg, Germany. 
I've got a Bachelor in Human-Computer Interaction, which is an interdisciplinary study path, seeking to combine cognitive principals 
from Psychology with Computer Science, for Interface Design.
<br><br>
Though, during the three years of completing that degree, I've developed a greater interest in other areas of Computer Science, 
mainly in the field of Artificial Intelligence, Robotics and Data Science, which leads me to this website.
<br><br>


<h1>About this site</h1>
This sites is subject to mainly two ideas:<br>
Firstly, I want to contribute to the community and share knowledge about topics I care about. I have read many great blogs and tutorials, 
but also others that didn't delight me as much. I try to build upon that, and fill gaps where I experience a lack of material or documentation. 
However, you might also find me writing about topics that are already well covered, in which case I simply wanted to take my spin on a topic ;)<br>
This addresses the blog posts you find on this website, which relate to the areas of Artificial Intelligence, Neural Networks, Python programming and 
Linux Sysadmin tools.
<br><br>

Secondly, this website serves as my digital business card. Hence, you find some of my projects on here as well. These aim at illustrating a part of my skill-set, 
and unlike the blog posts, they are not ment to be educational resources.  
<br><br>

Cheers, 
<i>Finn Rietz.</i>

<br><br><br>

<h2 id="cv" style="text-align: center;">Curriculum Vitae</h2>
<p style="text-align: center;">
  Feel free to <a href="/assets/home/FinnRietzCV2021.pdf">download my CV</a>.
</p>

<br><br><br>


<h3 class="archive__subtitle">Latest Post</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts limit:1%}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

