---
layout: single
author_profile: true
title: Home
tagline: Finn Rietz.dev
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/rpsls.gif
  caption: Banner info
---

<h1>About me</h1>
Hey, I'm Finn Rietz, an AI researcher and computer scientist from Germany.
I am currently finishing my Ph.D., which focuses on Deep Learning and Reinforcement Learning. 
While I spend most of my time building AI systems, I've recently become deeply interested in studying the societal and macroeconomic implications of AI.
When I'm not training models or reading papers, I am usually out in the beautiful Swedish nature with our dog — who remains blissfully unaware of the everyday craziness in the AI world.
<br><br>
<br><br>


<h1>About this site</h1>
Primarily, this site serves as my personal space for discussing and presenting things I care about, or that I consider potentially useful or noteworthy for others.
Additionally, this site also functions as an informal business card, hence a short version of my CV is available <a href="/cv">here</a>.
<br><br>
<br><br>

<h3 class="archive__subtitle">Latest Post</h3>


{% assign posts = site.posts %}


{% for post in posts limit:1%}
  {% include archive-single.html %}
{% endfor %}
