---
layout: single
author_profile: true
title: Home
tagline: Finn Rietz.dev
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/rpsls.gif
  caption: Banner info
---

<h1>About me</h1>
Hey, I'm Finn Rietz, an AI enthusiast and computer scientist from Germany.
I am currently employed as a Ph.D. student at the <a href="http://ails.aass.oru.se/" target="_blank">Adaptive and Interpretable Learning Systems Lab</a>, funded by the <a href="https://wasp-sweden.org/" target="_blank">WASP program</a>.
Starting from 01.03.23, I am also appointed as leader of the <a href="https://internal.wasp-sweden.org/sdm-rl-ctc/" target="_blank">WASP Reinforcement Learning cluster</a>, which is a group of ~50 RL and Robotics researchers.
<br><br>

My research interests are, broadly speaking, Deep Reinforcement Learning (DRL), Transfer Learning, and Robotics.
I believe that the DRL framework has immense potential for industry automation and optimization, but also think that the intransparency and data inefficiency of deep neural network-based AI systems must be addressed for safe and efficient real-world employment of these technologies.

<br><br>


<h1>About this site</h1>
This sites is subject to mainly two ideas:<br>
Firstly, I want to contribute to the community and share my insight about topics I care about, especially where I experienced a lack of material or documentation.
Secondly, this website serves as my digital business card.
Hence, you find some of my works and projects on here as well, which aim at illustrating a part of my skill-set.
<br><br>

<h3 class="archive__subtitle">Latest Post</h3>


{% assign posts = site.posts %}


{% for post in posts limit:1%}
  {% include archive-single.html %}
{% endfor %}
