---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";
.author-pic {
    border-radius: 50%;
    width: 200px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.google_auth_process_pic {
    width: 50%;
    float: left;
    display: block;
}

.google_pic_wrapper {
    width: 90%;
    background-color: #424242;
}

.text-highlight-red{
    color: #d14
}

.text-highlight-gray {
    color: #828282
}

.post-summary{
    color: #424242;
}

.no-margin-bot{
    margin-bottom: 0px;
}

.small-bot-marg{
    margin-bottom: 15px;
}

html { 
    scroll-behavior: smooth; 
}

.no-margin-left {
    margin-left: 0px !important; 
}
